<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<h2>Display song list</h2>
	
	<table border>
		<thead>
		<tr>
			<th>Name</th>
			<th>Artist</th>
			<th>Genre</th>
			<th>Link</th>
		</tr>
		</thead>
	
	<tbody>
		<tr th:each="st:${songslist}">
			<td th:text="${st.name}"></td>
			<td th:text="${st.artist}"></td>
			<td th:text="${st.genre}"></td>
			<td><audio controls>
					<source th:src=${st.link} type="audio/mpeg">
				</audio>
			</td>
		</tr>
	</tbody>
	</table>
</body>
</html>